
.custom-table {
    width: 70%;
   
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #fff5;
    margin-left: 20%;
    border-radius: .8rem;
    backdrop-filter:blur(7px) ;
  }
  
 
  .table-header {
    background-color:black;
    color: white;
    font-weight: bold;
   
  }
  
 
  .table-header th {
    padding: 12px 15px;
    border-bottom: 2px solid #ddd;
  }
  
 
  .table-row {
    border-bottom: 1px solid #ddd;
  }
  
  
  .table-row td {
    padding: 12px 15px;
  }
  
  
  .table-row:hover {
    background-color: #f9f9f9;
  }
 .status-reven{
    background-color: #86e49d;
   padding: .4rem 0;
    color: #006b21;
    border-radius: 2rem;
   
    width:max-content;
    margin-left: 35%;
 }
 .status-vui{
  
 }
 .total-revenue {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    background-color: #fff5;
    border-radius: 5px;
  }
  .anhmana{
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
  }
  .anhchuamana{
    width: 20%;
  }